<a href="https://colab.research.google.com/github/cpu-once/NationalScienceandTechnologyBigDataAnalysis/blob/main/01-01_%EA%B3%B5%ED%86%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
# 데이터 불러오기, pandas의 read_csv를 통해 csv 파일을 데이터프레임 형태로 불렁올 수 있다.
# head.(2)를 통해 앞의 두 줄만 출력하였다.
from pandas import read_csv
titanic = read_csv('https://raw.githubusercontent.com/algoboni/pythoncodebook1-1/main/1-1_titanic.csv')
print(titanic.head(2))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1

   Parch     Ticket     Fare Cabin Embarked
0      0  A/5 21171   7.2500   NaN        S
1      0   PC 17599  71.2833   C85        C

In [17]:
# 데이터 프레임 객체에 .info()를 함으로써 변수 별 결측치 개수와 데이터 타입을 확인할 수 있다.
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [18]:
# feature 삭제
del_feat = ['PassengerId', 'Cabin']
titanic = titanic.drop(del_feat, axis=1)

# 질적 변수의 데이터 타입을 category로 변경
qual = ['Survived', 'Pclass', 'Name', 'Sex', 'Ticket', 'Embarked']
quan = ['Age', 'SibSp', 'Parch', 'Fare']

for col in qual:
  titanic[col] = titanic[col].astype('category')
print(titanic.info())

# 결측치를 살펴보면, Age, Cabin, Embarked는 결측치가 있는 것으로 확인 된다.
# Cabin은 결측치가 과반수 이상이기 때문에 삭제 하기로하며
# 수치적으로 의미가 없는 것으로 보이는 PassengerId도 삭제
# 질적변수임에도 불구하고 양적변수로 표시된 Survived, Pcalss와 나머지 질적변수들의 데이터 타입은
# 위의 astype 함수를 통해 category 타입으로 변경 가능하다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    category
 1   Pclass    891 non-null    category
 2   Name      891 non-null    category
 3   Sex       891 non-null    category
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    category
 8   Fare      891 non-null    float64
 9   Embarked  889 non-null    category
dtypes: category(6), float64(2), int64(2)
memory usage: 96.2 KB
None

In [22]:
# 데이터프레임 객체에 .describe()를 함으로써 각 데이터 타입 별로 데이터의 기술 통계를 확인할 수 있다.
# 질적변수에 대해서는 count(데이터개수), unique9번주형변수의 level의 개수), top(빈도가 가장 높은
# level), freq(top level의 빈도)라는 정보를 제공한다.
# 양적변수에 대해서는 count(데이터개수), mean(평균), std(표준편차), min(최솟값), 25%(1사분위수)
#, 50%(2사분위수), 75%(3사분위수), max(최댓값)라는 정보를 제공한다.

# .describe()의 파라미터 include를 'all'로 설저하면 모든 데이터 타입의 변수에 대해 기술 통계를
# 제공하고, include=['float64', 'int64']와 같이
# 특정 데이터 타입의 리스트를 입력하면 해당 데이터 타입에 대한 기술 통계만 확인할 수 있다.

print(titanic.describe(include=['float64', 'int64']))
print(titanic.describe(include=['category']))

              Age       SibSp       Parch        Fare
count  714.000000  891.000000  891.000000  891.000000
mean    29.699118    0.523008    0.381594   32.204208
std     14.526497    1.102743    0.806057   49.693429
min      0.420000    0.000000    0.000000    0.000000
25%     20.125000    0.000000    0.000000    7.910400
50%     28.000000    0.000000    0.000000   14.454200
75%     38.000000    1.000000    0.000000   31.000000
max     80.000000    8.000000    6.000000  512.329200
        Survived  Pclass                         Name   Sex Ticket Embarked
count        891     891                          891   891    891      889
unique         2       3                          891     2    681        3
top            0       3  van Melkebeke, Mr. Philemon  male   1601        S
freq         549     491                            1   577      7      644