<a href="https://colab.research.google.com/github/cpu-once/NationalScienceandTechnologyBigDataAnalysis/blob/main/bigdataExamAndADP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PART-1-CHAPTER-01 | 파이썬

In [116]:
### 출력
# 문자 출력
print("안녕! 시나공")

# 숫자 출력
print(2024)

#자동  출력
"길벗은"
"여러분의 합격을 응원합니다."

안녕! 시나공
2024

'여러분의 합격을 응원합니다.'

In [117]:
# 주석
#한 줄 주석처리
print("파이썬")
# print("파이썬은 쉽다")

# 여러 줄 주석처리
# print("이 책의 저자 김태헌입니다.")
print("여러분의 합격을 가장 빠른 길로 안내할게요!")
# print("믿고 따라와주세요!")

파이썬
여러분의 합격을 가장 빠른 길로 안내할게요!

In [224]:
# 산술 연산자
#사칙 연산
print(1+2, 4-1, 2*3, 16/3)

# 나누기 결과
15/3

# 몫 연산자
16//3

# 나머지 연산자
16%3

#거듭 제곱
4**2

#제곱근 16**0.5
16**0.5

# 산술 연산자 우선순위
4+3*2

# ** > (*, /. //, %) > (+, -)

# 문자끼리 더하기
"py" + "thon"

# 문자와 숫자 더하기
"py" + 3

3 3 6 5.333333333333333

TypeError: can only concatenate str (not "int") to str

In [225]:
# 자료형
# 정수형
type(1)

# 실수형
type(1.1)

# 문자열
type('helllo')

# 숫자로 된 문자
type('3')

# 같지만 다른 숫자
type(3),type(3.0), type('3')

# 참과 거짓
type(True), type(False)

# 참은 1, 거짓은 0
True + True + True + False + False

3

In [226]:
# 변수
# 예약어
# False, assert, def, for, is , raise, None, async, del, from, lambda, return, True, await, elif
# global, nonlocal, try, __peg_parser__, break, else, if, not, while, and, class, except, import,
# or, with, as, continue, finally, in, pass, yield
# 예약어를 가까운 거리의 단어 순서대로 그룹핑한다면?

# 변수에 값 대입
americano = 4500

# 변수 출력
print(americano) # 변수 출력
print('americano') #문자 출력

# 변수 연산
latte = 5000
print(americano + latte)

# 결괏값 변수에 대입
result = americano + latte
print(result)

# 변수 업데이트
americano = 4500
americano = americano - 1000
print(americano)

# 다중 변수 할당
a, b, c = 10, 20, 30
print(a)
print(b)
print(c)
print(a+b+c)

4500
americano
9500
9500
3500
10
20
30
60

In [227]:
# 자료형 변환
# 임시적 자료형 변환 (implicit)
a = 2
b = 0.17
a = a + b
type(a)

# 명시적 자료형 변환 (explicit)
box = 2.17
print("문자열: ", str(box))
print("정수형: ", int(box))

#자료형 변환
box = "3.14"
box = float(box) + 10
box

문자열:  2.17
정수형:  2

13.14

In [228]:
# 비교 연산자
# 참 조건
10 > 5

# 거짓 조건
10 < 5

# 크거나(작거나) 같다
10 >= 5

# 두 값이 같다
10 == 10

# 두 값이 다르다
10 != 5

# 변수 값 비교
a = 10
b = 10
a == b

# 참 조건
a >= b

# 거짓 조건
a > b

# 문자 비교
c = "빅데이터"
d = "빅데이터"
e = "데이터"

# 주소비교가 아니라 값 비교
print(c == d)
print(d == e)

True
False

In [229]:
# 조건문

점수=87

if 점수 >= 90:
  print("A")
elif 점수 >= 80:
  print("B")
elif 점수 >= 70:
  print("C")
else:
  print("D")

# 조건문 (참)
if True:
  print("실행")

# 조건문 (거짓)
if False:
  print("무시")

# 비교 연산자
score = 10
if score >= 10:
  print("10보다 크거나 같다")

if score > 9:
  print("9 보다 크다")

if score <= 10:
  print("10보다 작거나 같다")

if score < 11:
  print("11 보다 작다")

if score == 10:
  print("score는 10이다")

if score != 11:
  print("score는 11과 같지 않다")

# 논리 연산자
# True and True = True
# True and False = False
# False and False = False
# True or True = True
# True or False = True
# False or Flalse = False

print("True and True: ", True and True)
print("True and False: ", True and False)
print("False and False: ", False and False)
print("True or True: ", True or True)
print("True or False: ", True or False)
print("False or False: ", False or False)

# else
if score < 10 and score >=5:
  print("score는 5이상, 10 미만입니다.")
else:
  print("scpre는 5 미만, 10 이상입니다.")

# elif
socre = 7

if score > 10:
  print("A")
elif score < 10 and score >= 5:
  print("B")
else:
  print("C")

# 조건문의 구성
score = 2

if score >= 10:
  print("score는 10 이상입니다.")
elif score < 10 and score >=5:
  print("scpre는 5 이상 10 미만입니다.")
elif score < 4 and score >=3:
  print("score는 2 이하입니다.")
else:
  print("score는 2 이하입니다.")

B
실행
10보다 크거나 같다
9 보다 크다
10보다 작거나 같다
11 보다 작다
score는 10이다
score는 11과 같지 않다
True and True:  True
True and False:  False
False and False:  False
True or True:  True
True or False:  True
False or False:  False
scpre는 5 미만, 10 이상입니다.
C
score는 2 이하입니다.

In [230]:
# 리스트
# 리스트 생성
# 인덱스는 0 부터 시작
listbox = [4, 2, 10, 6, 8]
print(listbox)

# 리스트의 첫 번째 값
print(listbox[0])

# 리스트 자료형 확인
print(type(listbox))

# 리스트 생성(문자) - 작은따옴표 혹은 큰 따옴표
listbox = ["길벗", "시나공", "빅데이터"]
print(listbox)

# 리스트 값 추가
listbox.append("분석")
print(listbox)

# 리스트 정렬
listbox = [4, 2, 10, 6, 8]
listbox_sorted = sorted(listbox)
listbox_sorted

# 내림차순 정렬
sorted(listbox, reverse=True)

# 문자가 있는 리스트 자료형도 정렬 가능. , 단 문자와 숫자가 섞여 있다면 정렬할 수 없음

[4, 2, 10, 6, 8]
4
<class 'list'>
['길벗', '시나공', '빅데이터']
['길벗', '시나공', '빅데이터', '분석']

[10, 8, 6, 4, 2]

In [231]:
# 딕셔너리

# 딕셔너리 생성
dictbox = {'name' : '쿼카', 'level' : 5}

# 딕셔너리 자료형
print(type(dictbox))

# 딕셔너리 값 출력
print(dictbox['name'])
print(dictbox['level'])

# 딕셔너리 값 변경
dictbox['level'] = 6
print(dictbox['level'])

# 딕셔너리 키
print(dictbox.keys())

# 딕셔너리 값
print(dictbox.values())

# 딕셔너리 키와 값
print(dictbox.items())

# 딕셔너리를 리스트로 변환
print(list(dictbox.values()))

# 딕셔너리 생성(변수)
a = '합격맛집'
b = '길벗'
c = '출판사'

dictbox = {'name': a, c:b}
print(dictbox)

# 딕셔너리 생성(리스트)
listbox1 = ['딴짓분식', '딴짓카페', '딴짓피자']
listbox2 = [4.8, 4.9, 5.0]

dictbox = {'가게' : listbox1, '평점' : listbox2}
print(dictbox)

<class 'dict'>
쿼카
5
6
dict_keys(['name', 'level'])
dict_values(['쿼카', 6])
dict_items([('name', '쿼카'), ('level', 6)])
['쿼카', 6]
{'name': '합격맛집', '출판사': '길벗'}
{'가게': ['딴짓분식', '딴짓카페', '딴짓피자'], '평점': [4.8, 4.9, 5.0]}

In [232]:
# 인덱싱과 슬라이싱

# 인덱싱
listbox = [2, 4, 6 ,8, 10]
print(listbox[0]) # index 0, 첫 번째 값
print(listbox[1]) # index 3, 네 번째 값
print(listbox[-1])

# 슬라이싱
print(listbox[0:3])
print(listbox[1:3])
print(listbox[3:])
print(listbox[:3])
print(listbox[::2])

# 값 변경(슬라이싱 활용)
listbox[1:3] = [ 10,20 ]
print(listbox)

2
4
10
[2, 4, 6]
[4, 6]
[8, 10]
[2, 4, 6]
[2, 6, 10]
[2, 10, 20, 8, 10]

In [233]:
# 내장 함수
listbox = [4,2,10,6,8]
sum(listbox)

#  합계
boolbox = [True, False, False]
print(sum(boolbox))

# 최댓값
print(max(listbox))

# 최솟값
print(min(listbox))

# 항목의 개수
print(len(listbox))

# 반올림
print(round(1.2345, 2))
print(round(1.2375, 2))

1
10
2
5
1.23
1.24

In [234]:
# 문자열
# 문자 변경
text = "빅데이터 분석기사 파이썬 공부"
text = text.replace("공부", "스터디")
print(text)

text = "빅데이터 분석기사 파이썬 공부"
text = text.replace("파이썬","머신러닝").replace("분석기사","분석을 위한")
print(text)

# 문자열 슬라이싱 (앞인덱스 포함, 뒤 인덱스 미포함, [) 규칙, 인덱스 시작 0 부터)
text = "안녕하세요! 함께 성장해요."
print(text[:2])
print(text[7:9])
date = "2022-12-25"
print(date[5:])

# 문자열 분리
print(date.split('-'))
print(text.split()) # splite 인자 안주면, 스페이스바를 delimiter
print(list(date)) # 문자열을 list로 자료형 번환을 하면 한 글자씩 순서대로 값으로 가진 리스트가 된다.

빅데이터 분석기사 파이썬 스터디
빅데이터 분석을 위한 머신러닝 공부
안녕
함께
12-25
['2022', '12', '25']
['안녕하세요!', '함께', '성장해요.']
['2', '0', '2', '2', '-', '1', '2', '-', '2', '5']

In [235]:
# 반복문
listbox = [2, 4, 6, 8, 10]
for item in listbox:
  print(item)

print()

# for 문 코드 범위
listbox = [2, 4, 6, 8, 10]
for item in listbox:
  print(item)
print("끝")

print()

listbox = [2, 4, 6, 8, 10]
for item in listbox:
  result = item + 1
  print(result)

print()

# range() 활용
for item in range(5):
  print(item)

print()

for i in range(5,10):
  print(i)

print()

#list.append()
listbox = []
for i in range(1,6):
  listbox.append(i)
print(listbox)

#enumerate()
listbox = ['길벗', '시나공', '빅분기', '분석']
for index, item in enumerate(listbox):
  print(index, item)

#zip()
person_info = {
    'name' : '사랑',
    'age' : 20,
    'city' : '부산',
    'hobbies' : ['연애', '수영', '코딩']
}
for k, v in zip(person_info.keys(), person_info.values()):
  print(k,v)

2
4
6
8
10

2
4
6
8
10
끝

3
5
7
9
11

0
1
2
3
4

5
6
7
8
9

[1, 2, 3, 4, 5]
0 길벗
1 시나공
2 빅분기
3 분석
name 사랑
age 20
city 부산
hobbies ['연애', '수영', '코딩']

In [236]:
# 함수
# 일반함수
def hello(): #함수 정의
  print("안녕하세요!")

hello() # 함수 호출
hello() # 함수 호출
hello() # 함수 호출

# 매개변수가 있는 함수
def hello(name):
  print("hello"+ name)

hello("빅분기")

# 2개의 매개변수를 받아 이를 더하는 함수
def plus(x, y):
  print(x+y)

  a = 2
  b = 3
  plus(a,b)

# 변환 값이 있는 함수
def plus(x,y):
  result = x+y
  return result

a = plus(2,3)
print(a)

안녕하세요!
안녕하세요!
안녕하세요!
hello빅분기
5

In [237]:
# 확인문제
listbox = ["감사", "행복", "사랑", "성공", "긍정", "변화", "성장", "희망"]
# 1. 리스트에 있는 값의 수를 출력하시오.
print(len(listbox))
# 2. 리스트의 첫 번째 값을 출력하시오.
print(listbox[0])
# 3. 리스트의 마지막 값을 출력하시오.
print(listbox[-1])
# 4. 리스트에서 처음부터 세번쨰 값 까지를 출력하시오
print(listbox[:3])
# 5. 리스트에서 마지막 앞 단어를 출력하시오
print(listbox[-2])
# 6. 리스트 값 중 '행복'과 '사랑'만 출력하시오
print(listbox[1:3])
# 7. 리스트 값 중 '변화' -> '웃음'으로 변경하시오
print(listbox[5])
listbox[5] = '웃음'
print(listbox[5])

print()
# 8. cols 변수는 컬럼명을 담고 있다. cols 리스트에 있는 name, age, phone 컬럼명을 반복문을 통해 출력하시오
cols = ['name', 'age', 'phone']
for col in cols:
  print(col)

print()
# 9. 리스트에서 최댓값에서 최솟값으 뺸 결과를 리턴(반환)하는 함수를 만들고 실행하시오.
listminmax = [1,2,3,4,5,6,7,9]
def minmax(list):
  return max(list) - min(list)

print(minmax(listminmax))

print()
# 10. 문자열에서 "여러분"을 "당신"으로 변경한 결과를 리턴하는 함수를 만들고 실행하시오.
str_data="여러분의 합격을 응원합니다!"

def replaceEveryoneToYou(someString):
  return print(someString.replace("여러분", "당신"))

replaceEveryoneToYou(str_data)

8
감사
희망
['감사', '행복', '사랑']
성장
['행복', '사랑']
변화
웃음

name
age
phone

8

당신의 합격을 응원합니다!

# PART-1-CHAPTER-02 | 판다스

In [238]:
# 데이터프레임과 시리즈
# 판다스의 데이터는 시리즈(Series)와 데이터프레임(DataFrame)으로 구성되어 있다.
# 시리즈는 1차원 형태, 데이터프레임은 행(rows)과 열(columns)이 있는 2차원(표) 형태

# 행과 열
# 행은 각 데이터/레코드(가로)고, 열은 컬럼 전체(세로)다.
# 판다스에서 축(axis)을 숫자로 나타낼 때는 행은 0, 열은 1로 표시하므로 숫자 순서대로 행(0)렬(1)로 기억하면 좋다.

# 판다스의 별칭
# 판다스 라이브러리를 불러오자 import pandas 뒤에 as pd가 붙은 것을 확인 할 수 있다.
# 앞으로 pandas는 pd라는 별칭(alias, 줄여서 as로 사용)으로 사용하기 위함이다.
import pandas as pd

# 시리즈(Series)
# 시리즈는 pd.Series(데이터)로 만들 수 있다.
# 시리즈의 괄호 안 데이터는 리스트를 활용해 만들 수 있다.
# 출력 해보면 인덱스와 값이 출력되고, 자료형은 'object'다.
# 판다스에서 object형은 주로 문자열 데이터를 나타내는 데 사용된다.

menu = pd.Series(['비빔밥', '김치찌개', '된장찌개'])
print(menu)

print()
# 숫자를 리스트 형태로 만들고, 이를 pd.Series()로 감싸게 되면 시리즈로 변경된다.
# 이 시리즈 값의 자료형(타입)은 int다.
# 판다스는 리스트에 포함된 데이터 타입을 기반으로 시리즈의 데이터 타입을 자동으로 결정한다.

price = pd.Series([10000, 9000, 8000])
print(price)

print()
# 데이터 프레임
# 앞서 만든 2개의 시리즈를 합쳐 데이터프레임(표 형태)으로 만들어 보자.
# 데이터 프레임은 pd.DataFrame({"컬럼명":데이터}) 로 만든다.
# 자세히 살펴보면 소괄호 안에 중괄호로 묶여 있다.
# 컬럼명의 "메뉴"는 문자(따옴표 있음) 그 자체고, 데이터의 menu는 변수명(따옴표 없음)이다.

df1 = pd.DataFrame({
    "메뉴" : menu,
    "가격" : price
})
print(df1)

print()
# 데이터프레임을 만들 때 시리즈를 꼭 거쳐야 하는 것은 아니다.
# 다음과 같이 데이터 프레임을 만들 수도 있다.

df2 = pd.DataFrame({
    "메뉴" : ['비빔밥', '김치찌개', '된장찌개'],
    "가격" : [10000, 9000, 8000],
    "원산지" : ['국내산', '국내산', '국내산']
})
print(df2)

print()
# 컬럼 선택
# 데이터 프레임에서 특정 컬럼만 선택해 표시할 수 있다.
# df['컬럼명'] 또는 df["컬럼명"] 으로 컬럼명을 작은 따옴표 또는 큰 따옴표로 묶어주면 된다.

print(df2['메뉴'])

print()
# 데이터프레임과 시리즈 자료형
# 데이터프레임에서 특정 컬럼 1개만 선택하면 시리즈 형태가 된다.
# 시리즈 형태가 아닌 데이터 프레임이 필요할 때가 있는데,
# 1개의 컬럼을 시리즈가 아닌 데이터프레임으로 만드는 간단한 방법은 한번 더 대괄호로 묶어주는 것이다.

print(df2[['메뉴']])

print()
# 복수의 컬럼을 선택할 때는 대괄호 2개를 사용한다. 결과는 데이터프레임 자료형이다.
print(df2[['메뉴', '가격']])

print()
# 컬럼을 1개 선택하더라도 다음과 같이 데이터프레임 자료형으로 필요할 때 대괄호 2개를 사용할 수 있다.
df3 = pd.DataFrame({
    "구분" : ["df[]", "df[[]]"],
    "반환된 자료형" : ["1개 컬럼 선택", "1개 이상의 컬럼 선택"],
    "예" : ["df['컬럼1']", "df['컬럼1'], df[['컬럼1','컬럼2']]"]
})
print(df3)

print()
# 컬럼을 복수로 선택할 때는 주로 리스트를 활용한다.
# cols 변수에 메뉴와 가격 컬럼명을 담고 df[cols] 를 실행하면
# cols 변수에 있는 컬럼이 선택되어 데이터프레임으로 출력된다.
# 대괄호가 하나처럼 보이나 df[['메뉴', '가격']]과 같음을 이해한다.
cols = ['메뉴','가격']
df2[cols]

print()
# 자료형 비교
# type() 함수로 자료형을 확인해 보자.
# df는 데이터 프레임,
# df['컬럼명']은 시리즈,
# df[['컬럼명']]은 데이터 프레임이다.

# 머신러닝(작업형2)에서 입력 데이터로 특정 컬럼을 데이터프레임으로 넣어야 할 때가 있다.
# df['컬럼명']과 같이 컬럼명을 1개만 선택하면 시리즈 형태가 된다.
# 데이터프레임으로 만들기 위해 df[['컬럼명']]으로 사용한다.
# 컬럼이 1개일 때 시리즈가 아닌 데이터프레임으로 만들기 위해 대괄호 2개가 종종 사용된다.

print("df      :", type(df2))
print("df['가격'] :", type(df2['가격']))
print("df[['가격']]:", type(df2[['가격']]))

0     비빔밥
1    김치찌개
2    된장찌개
dtype: object

0    10000
1     9000
2     8000
dtype: int64

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9000  국내산
2  된장찌개   8000  국내산

0     비빔밥
1    김치찌개
2    된장찌개
Name: 메뉴, dtype: object

     메뉴
0   비빔밥
1  김치찌개
2  된장찌개

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

       구분       반환된 자료형                             예
0    df[]      1개 컬럼 선택                     df['컬럼1']
1  df[[]]  1개 이상의 컬럼 선택  df['컬럼1'], df[['컬럼1','컬럼2']]


df      : <class 'pandas.core.frame.DataFrame'>
df['가격'] : <class 'pandas.core.series.Series'>
df[['가격']]: <class 'pandas.core.frame.DataFrame'>

In [239]:
# 데이터 저장 및 불러오기
import pandas as pd
df = pd.DataFrame({
    "메뉴" : ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격" : [4500, 5000, 5500, 5000, 4000, 5900, 5300],
    "칼로리" : [10, 110, 250, 110, 20, 210, 0],
})
print(df)

# csv로 저장
df.to_csv('temp.csv')

# csv 불러오기
temp_df = pd.read_csv('temp.csv')
print(temp_df.head())

# Unnamed: 0 컬럼이 보인다. 데이터를 저장할 때 기본 설정으로 기존 인덱스가 값으로 함께 저장된 것이다.
# 가장 왼쪽에 있는 이 인덱스는 pd.read_csv()로 데이터를 불러올 때 새로 생성된 인덱스다.

# csv 저장 옵션
# 기존 인덱스를 제외하고 csv에 저장된 것을 확인할 수 있다.
# 데이터를 저장할 때 인덱스를 제외하는 것은 작업형2에서 필수로 사용하는 기능이다.
df.to_csv('cafe.csv', index=False)
df = pd.read_csv('cafe.csv')
print(df.head())

# 데이터 불러오기 옵션
# 데이터를 불러올 때 사용하는 판다스의 read_csv() 함수는 주요 파라미터다.
# 시험에서는 데이터를 불러오는 코드를 제공하므로 암기할 필요는 없다.
# 간혹 제공된 코드에 index_col 등이 포함되기도 하므로 심화학습을 원한다면 살펴보자.

# index_col
# 인덱스로 사용할 컬럼명 또는 열의 번호를 지정한다.
# pd.read_csv('data.csv', index_col='컬럼명')
# pd.read_csv('data_csv', index_col=0)

# usecols
# 불러올 컬럼명 또는 열의 번호를 지정한다.

# pd.read_csv('data.csv', usecols=['컬럼명1', '컬럼명2', ...])
# pd.read_csv('data.csv', usecols=[열 번호1, 열 번호2,...])

# parse_dates
# 데이터를 불러올 때 parse_dates로 컬럼명을 지정하면 문자열로 된 컬럼을 날짜 datetime으로 변경할 수 있다.
# 이를 파싱(parsing)한다고 한다.

# pd.read_csv('data.csv', parse_dates=['컬럼명'])

# encoding
# 일반적으로 판다스는 'UTF-8'을 기본 인코딩 방식으로 사용한다.
# 만약 한국어가 포함된 텍스트 파일이 'UTF-8'이 아닐 경우 글자가 깨지는 현상을 볼 수 있다.
# 데이터를 불러올 때 'cp949' 또는 'euc-kr'로 설정한다.

# pd.read_csv('data.csv', encoding='cp949')
# pd.read_csv('data.csv', encoding='euc-kr')

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0
   Unnamed: 0     메뉴    가격  칼로리
0           0  아메리카노  4500   10
1           1   카페라떼  5000  110
2           2   카페모카  5500  250
3           3   카푸치노  5000  110
4           4  에스프레소  4000   20
      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

In [256]:
import pandas as pd
# 탐색적 데이터 분석(EDA)

# 데이터프레임 샘플 확인
# 판다스에서 데이터프레임의 일부를 확인 하는 방법은 세가지
# head, tail, sample이 그것이다.

# head(N)은 데이터프레임의 상위 N개 행을 반환한다. N은 양의 정수로 기본값은 5다.

print(df.head(2))

print()
# tail(N)은 데이터프레임의 하위 N개의 행을 반환한다. N은 양의 정수로 기본값은 5다.
print(df.tail(3))

print()
# sample(N)은 데이터프레임에서 임의로 샘플링해 N 개의 행을 반환한다. N은 양의 정수로 기본값은 1이다.
# head 또는 tail과 달리, 실행할 때마다 다른 결과를 샘플링해 보여준다.
print(df.sample(3))

print()
# 데이터 프레임의 크기
# 전체 데이터의 크기를 확인할 때는 df.shape를 활용한다.
# 주의할 점은 뒤에 괄호가 없는 속성을 갖고 있다는 것이다.
print(df.shape)
# shape는 데이터프레임의 속성이어서 괄호가 없고, head(), tail()은 함수(메소드) 형태라서 괄호가 존재한다.

print()
# 컬럼별 자료형
# 데이터프레임 안 컬럼의 자료형(type)은 info()를 통해 확인한다.
# Dtype에서 문자는 object, 숫자는 int로 표시됨을 확인할 수 있다.
# 시험에서 int 또는 float 뒤에 오는 숫자(비트)는 무시해도 좋다.
print(df.info())

print()
# 상관 관계
# 상관관계는 판다스의 corr()을 통해 확인한다.
# 가격과 칼로리는 0.7의 양의 상관 관계를 확인 할 수 있다.
print(df.corr(numeric_only=True))

print()
# 코랩과 시험환경에서 발생하는 에러와 그 해결 방법
# 판다스 라이브러리가 업데이트되면서 몇 가지 주의할 점이 생겼다.
# 데이터프레임에 숫자형과 문자형 컬럼이 혼합되어 있을 때,
# corr(), mean(), sum() 같은 함수를 사용하면 다음과 같은 에러가 발생할 수 있다.
# ValueError : could not conver string to float : '아메리카노'

print(df.corr(numeric_only=True))

print()
# 범주형 데이터 탐색
# 다음은 자동차의 종류와 크기를 나타낸 중복 값이 있는 데이터다.
df_car = pd.DataFrame({
    "car" : ['Sedan', 'SUV', 'Sedan', 'SUV', 'SUV', 'SUV', 'Sedan', 'Sedan', 'Sedan', 'Sedan', 'Sedan'],
    "size" : ['S', 'M', 'S', 'S', 'M', 'M', 'L', 'S', 'S', 'M', 'S']
})
print(df_car.head(3))

print()
# 고유한 값의 개수
# 데이터프레임에서 컬럼별로 고유한 값의 개수를 찾을 때는 nunique()를 활용한다.
# car 종류는 2개, size 종류는 3개가 있는 것을 확인할 수 있다.

print(df_car.nunique())

print()
# 고유한 값
# nunique()로는 종류의 수를 파악할 수 있지만, 어떤 데이터인지는 알 수 없다.
# 구체적인 항목으 파악하기 위해서는 unique()를 활용한다.
# car에는 Sedan과 SUV가 있고, size에는 S, M, L 이 있다.

print(df_car['car'].unique())
print(df_car['size'].unique())

print()
# 고유한 값과 개수
# 앞서 배운 nunique()와 nunique()의 결과 내용을 한번에 파악할 수도 있다.
# value_counts()는 항목별로 개수를 출력해 데이터를 탐색하는 데 매우 유용하게 사용된다.
print(df_car['car'].value_counts())
print(df_car['size'].value_counts())

print()
# value_counts()
# value_counts()는 작업형 2에서 빈번하게 사용된다.
# 주로 시리즈(데이터프레임 특정 컬럼)에 적용한다.
# 데이터프레임에서 특정 컬럼 1개만 선택하면 시리즈 형태가 된다.
# df['컬럼명'].value_counts()와 같이 사용한다.
# 판다스 1.1.0 이상(시험 환경 포함) 에서는 df.value_counts()와 같이 사용 가능하다.
# 다만, 결과 보기가 불편할 수 있으므로 시리즈(컬럼을 선택한 df['컬럼명'].value_counts())
# 에서 사용하기를 추천한다.

# 기술통계
# 데이터의 기술통계량은 describe()를 통해 확인할 수 있다.
# 더욱 명확한 결과를 보여주기 위해 수치형 데이터를 확인할 때는 df 변수를
# 범주형 데이터를 확인할 때는 앞서 새로 만들었던 df_car 변수를 활용하자.

# count : 값이 있는 데이터 수
# mean : 평균
# std : 표준 편차
# min : 최솟값
# 00% : 백분위수에서 00%
# max : 최댓값

df.describe()

print()
# 기술통계(object 자료형)
# 데이터 타입이 object인 기술통계를 확인할 때는 include 파라미터를 활용한다.
# "O" 또는 "object"를 입력한다.

# count : 값이 있는 데이터 수
# unique : 고유한 데이터 수(종류)
# top : 가장 많이 나오는 값(최빈값)
# freq : 가장 많이 나오는 값의 빈도수
df_car.describe(include="object")
df.describe(include="object")

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110

      메뉴    가격  칼로리
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

      메뉴    가격  칼로리
3   카푸치노  5000  110
2   카페모카  5500  250
0  아메리카노  4500   10

(7, 3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      int64
 2   칼로리     7 non-null      int64
dtypes: int64(2), object(1)
memory usage: 300.0+ bytes
None

           가격       칼로리
가격   1.000000  0.713227
칼로리  0.713227  1.000000

           가격       칼로리
가격   1.000000  0.713227
칼로리  0.713227  1.000000

     car size
0  Sedan    S
1    SUV    M
2  Sedan    S

car     2
size    3
dtype: int64

['Sedan' 'SUV']
['S' 'M' 'L']

car
Sedan    7
SUV      4
Name: count, dtype: int64
size
S    6
M    4
L    1
Name: count, dtype: int64

           메뉴
count       7
unique      7
top     아메리카노
freq        1

In [283]:
# 자료형 변환
# 판다스에서 주로 볼 수 있는 자료형은 int(정수), float(실수), object(문자)다.
data = {
    "메뉴" : ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격" : ['4500.0', '5000.0', '5500.0', '5000.0', '4000.0', '5900.0', '5300.0'],
    "칼로리" : ['10', '110', '250', '110', '20', '210', '0'],
}
df = pd.DataFrame(data)
print(df)
print(df.info())
print(df.head(2))

print()
# int로 변환
df['가격'] = pd.to_numeric(df['가격'], errors='coerce').astype('int')
print(df.info())

print()
# float으로 변환
# object 자료형인 칼로리 컬럼을 float형으로 변경해 보자.
# 이때 주의할 점은 칼로리가 정수형으로 변경 가능한 데이터라면 문제가 없지만,
# 만약 문자 데이터가 있다면 에러가 발생한다는 것이다.
df['칼로리'] = df['칼로리'].astype('float')
df.info()

      메뉴      가격  칼로리
0  아메리카노  4500.0   10
1   카페라떼  5000.0  110
2   카페모카  5500.0  250
3   카푸치노  5000.0  110
4  에스프레소  4000.0   20
5    밀크티  5900.0  210
6     녹차  5300.0    0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      object
 2   칼로리     7 non-null      object
dtypes: object(3)
memory usage: 300.0+ bytes
None
      메뉴      가격  칼로리
0  아메리카노  4500.0   10
1   카페라떼  5000.0  110

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      int64
 2   칼로리     7 non-null      object
dtypes: int64(1), object(2)
memory usage: 300.0+ bytes
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      int64
 2   칼로리     7 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 300.0+ bytes

In [295]:
# 새로운 컬럼 추가
df = pd.read_csv('cafe.csv')
df.head(2)

print()
# 새로운 컬럼추가
df['new'] = 0
df.head(2)

print()
# 기존 컬럼을 사용한 계산
discount = 0.2
df['할인가'] = df['가격'] * (1-discount)
df.head(2)

      메뉴    가격
0  아메리카노  4500
2   카페모카  5500
3   카푸치노  5000

In [ ]:
# 데이터 삭제
# 판다스에서 데이터를 삭제할 때는 행(row)을 삭제하난 것과 열(column)을 삭제하는 것이 있다.
# 이를 구분하기 위해 축(axis)이라는 개념을 사용한다.
# 축은 데이터의 방향을 나타내는데, 0과 1 두 가지 값을 사용한다.

# axis=0 : 행(row) - 특정 행을 삭제하고 싶을 때는 'axix=0'을 사용한다.
# axis=1 : 열(column) - 특정 열을 삭제하고 싶을 때는 'axis=1'을 사용한다.

df = pd.read_csv('cafe.csv')
df.head(3)

# 행 삭제
df.drop(1, axis=0, inplace=True)
df.head(3)

# 컬럼 삭제
df = df.drop('칼로리', axis=1)
df.head(3)

# 삭제 후 저장 방법
# 결과를 저장할 경우 inplace 또는 대입(=) 연산자 중 어떤 방법을 사용하더라도 같다.
# inplace를 사용하면 반환 값이 없다. 사용하지 않으면 반환 값으로 대입이 가능하다.
# 하지만 "df= df.drop(1, axis=0, inplace=True)"와 같이 대입(=) 연산자와 inplace를 함께 사용하면 안된다.
# 반드시 둘중 하나만 사용하도록 하자

# inplace 활용
# df.drop('가격', axis=1, inplace=True)

# 대입 연산자 활용
# df = df.drop('가격', axis=1)

# 삭제 전후의 데이터 크기 확인
# 삭제할 때는 실수를 방지하기 위해서 삭제하기 전의 데이터 크기와 삭제 후의 데이터 크기를
# df.shape를 통해 확인하는 습관을 들여라
# df.shape # 삭제전
# df.drop(1, axis=0, inplace=True) # 행 또는 열 삭제코드
# df.shape # 삭제후

In [15]:
# 인덱싱 / 슬라이싱 (loc)
# 인덱싱과 슬라이싱은 문제를 풀 때 중요한 부분이다.
import pandas as pd
df = pd.DataFrame({
    "메뉴" : ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격" : [4500, 5000, 5500, 5000, 4000, 5900, 5300],
    "칼로리" : [10, 110, 250, 110, 20, 210, 0],
})
df.to_csv('cafe.csv', index=False)
df = pd.read_csv('cafe.csv')
print(df.head(2))

# 인덱싱
# loc는 location의 약자로 인덱스명 또는 컬럼명을 통해 데이터에 접근한다.
# df.loc[인덱스명] or df.loc[# of index]

print(df.loc[0]) # row

print()
# 특정 행과 특정 컬럼(열)의 교차점에 있는 단일 값을 출력할 때는 df.loc[1, "가격"] 과같이 콤마로 구분해
# 인덱스명이 1인 행과 컬럼명이 가격인 값을 찾을 수 있다.
df.loc[1, "가격"] # row, column intersaction

print()
# 슬라이싱
# loc를 활용한 슬라이싱은 'loc[행 범위 또는 특정 행, 컬럼(열)의 범위 또는 특정 컬럼]을 활용한다.
# 범위는 '시작 인덱스 : 끝 인덱스'로 구간을 나타낸다.
# 시작 인덱스를 생략하면 처음부터, 끝 인덱스를 생략하면 마지막까지다.
# 만약 시작과 끝 인덱스를 모두 생략하고, ':'만 남는다면 전체를 의미한다.

print(df.loc[:,"가격"])

print()
# 컬럼의 범위를 '메뉴' 에서 '칼로리'까지로 했을 때 '메뉴'부터 '칼로리'사이에 있는 컬럼도 모두 포함된다.
print(df.loc[2, '메뉴':'칼로리'])

print()
# 만약 특정 컬럼을 선택해 슬라이싱하고 싶다면 컬럼을 리스트 형태로 해서 원하는 컬럼명을 넣으면 된다.
print(df.loc[2, ['메뉴', '칼로리']])

print()
# 인덱스 또한 구간으로 설정할 수 있는데, 인덱스 명이 1인 데이터(행)부터 3인 데이터(행)를 출력한다.
print(df.loc[1:3, '메뉴':'가격'])

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
메뉴     아메리카노
가격      4500
칼로리       10
Name: 0, dtype: object


0    4500
1    5000
2    5500
3    5000
4    4000
5    5900
6    5300
Name: 가격, dtype: int64

메뉴     카페모카
가격     5500
칼로리     250
Name: 2, dtype: object

메뉴     카페모카
칼로리     250
Name: 2, dtype: object

     메뉴    가격
1  카페라떼  5000
2  카페모카  5500
3  카푸치노  5000

In [40]:
# 인덱싱 / 슬라이싱 (iloc)
# 인덱싱 및 슬라이싱을 하는 또 다른 방법은 iloc를 사용할 수 있다.

import pandas as pd
df = pd.DataFrame({
    "메뉴" : ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격" : [4500, 5000, 5500, 5000, 4000, 5900, 5300],
    "칼로리" : [10, 110, 250, 110, 20, 210, 0],
})
df.to_csv('cafe.csv', index=False)
df = pd.read_csv('cafe.csv')
df.drop(0, axis=0, inplace=True) # 첫 번째 행 삭제
print(df.head(2))

# 인덱싱
# loc에서 대괄호 안의 0은 인덱스명을 의미한다.
# 하지만 iloc에서 대괄호 안의 0은 순서를 의미한다.
# 0은 첫 번째 행 (또는 컬럼), 1은 두 번째 행 (또는 컬럼)을 의미한다.
# 따라서 iloc[0]은 첫 번째 행의 값을 출력한다.
print(df.iloc[0])
print(df)
# 위의 데이터에서 카페라떼로 선택하는 방법은 loc와 iloc를 사용하는 방법이 있다.
# loc[1,'메뉴']
# iloc[0,0]

print()
# 슬라이싱
# iloc에서 특정 컬럼 값만 출력할 때도 인덱스 번호를 활용한다.
# 다음은 가격데이터만 슬라이싱 하기 위해 행은 단계를 선택하고,
# 열은 인덱스 번호를 작성했다 콜론(:) 앞뒤를 생략하면 처음부터 끝까지다.
print(df.iloc[:,1])

print()
# iloc을 활용해 인덱스 번호 2의 메뉴와 가격만 출력해보자
# 1개를 선택할 때는 인덱싱, 붙어 있는 2개 이상을 선택할 때는 슬라이싱한다.
# 1개 행과 2개 열이므로 iloc[행 인덱싱, 열 슬라이싱] 으로 사용한다.
# 파이썬은 기본적으로 인덱스를 0부터 시작한다.
# iloc에서 0은 가장 첫 번째 행 또는 열을 의미한다.
# iloc에서 슬라이싱 범위는 마지막 인덱스 번호 앞까지 결과를 반환한다.
# 따라서 0:1이 아닌 0:2가 된다.
print(df.iloc[2,0:2])

print()
# loc와 iloc의 범위 차이
locAndilocDiff = pd.DataFrame({
    "방식1" : ["loc", "iloc"],
    "방식2" : ["인덱스명, 컬럼명", "인덱스번호(위치 숫자) 컬럼번호(위치 숫자) *번호는 0부터 시작함"],
    "범위" : ["끝 인덱스 포함", "끝 인덱스 포함하지 않음(끝 인덱스 -1)"],
    "예시" : ["[0:2]일 때 2 포함-(0,1,2 선택)", "[0:2]일 때 2 미포함-(0,1 선택)"]

})
print(locAndilocDiff)

print()
# iloc 대괄호 안에 범위가 1개만 있다면 행 인덱스 범위다.
# 컬럼 범위는 전체를 의미하며, df.iloc[1:3, : ]과 결과가 같다.
print(df.iloc[1:3])

print()
# 추가로 loc로 같은 결과를 얻기 위해서는 다음과 같이 사용한다.
# 컬럼 범위는 전체이므로 생략 가능하지만, 이해를 돕기 위해 지정했다.
print(df.loc[2:3, '메뉴':'칼로리'])

     메뉴    가격  칼로리
1  카페라떼  5000  110
2  카페모카  5500  250
메뉴     카페라떼
가격     5000
칼로리     110
Name: 1, dtype: object
      메뉴    가격  칼로리
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

1    5000
2    5500
3    5000
4    4000
5    5900
6    5300
Name: 가격, dtype: int64

메뉴    카푸치노
가격    5000
Name: 3, dtype: object

    방식1                                    방식2                       범위  \
0   loc                              인덱스명, 컬럼명                 끝 인덱스 포함
1  iloc  인덱스번호(위치 숫자) 컬럼번호(위치 숫자) *번호는 0부터 시작함  끝 인덱스 포함하지 않음(끝 인덱스 -1)

                         예시
0  [0:2]일 때 2 포함-(0,1,2 선택)
1   [0:2]일 때 2 미포함-(0,1 선택)

     메뉴    가격  칼로리
2  카페모카  5500  250
3  카푸치노  5000  110

     메뉴    가격  칼로리
2  카페모카  5500  250
3  카푸치노  5000  110

In [56]:
# 데이터 추가 / 변경

import pandas as pd
df = pd.DataFrame({
    "메뉴" : ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격" : [4500, 5000, 5500, 5000, 4000, 5900, 5300],
    "칼로리" : [10, 110, 250, 110, 20, 210, 0],
})
df.to_csv('cafe.csv', index=False)
df = pd.read_csv('cafe.csv')

df.head(2)

# 넘파이(numpy)는 판다스와 같은 파이썬 라이브러리로 판다스보다 빠르게 수치 연산하는 것이 특징
# 연산량이 많은 딥러닝에서 주로 많이 활용된다.
# 판다스에 없는 기능을 사용할 때만 넘파이를 사용한다.

print()
# 결측치(NaN) 대입
import numpy as np
df['원산지'] = np.nan
print(df)

print()
# loc를 활용한 값 변경
# loc를 활용해 특정 위치에 값을 대입할 수가 있다.
# 작업형1에서 특정 컬럼 범위의 값을 대체할 때
# loc[인덱스명(범위), 컬럼명(범위)]가 활용 된다.
df["원산지"] = df["원산지"].astype("object")
df.loc[0, "원산지"] = "콜롬비아"
df.loc[2:3, "원산지"] = "과테말라"
df.head(4)

print()
# loc를 활용한 값 추가
# loc를 활용해 새로운 데이터 행(row)을 추가할 수 있다.
# loc의 대괄호 안에 새 인덱스명을 넣고 값을 대입한다.
# 인덱스명은 숫자가 아닌 문자도 가능하다.
# '시즌'이란 인덱스를 만들고 리스트 형태로 데이터를 추가할 수 있다.
df.loc['시즌'] = ['크리스마스라떼', 6000, 300, '한국']
print(df.tail(3))

print()
# loc와 딕셔너리를 활용한 값 추가
# 리스트가 아닌 딕셔너리 형태로도 새로운 데이터 행(row)을 추가할 수 있다.
# 차이점이 있다면 리스트의 경우에는 반드시 행의 컬럼 수와 리스트의 데이터 수가 일치 해야한다.
# 반면에 딕셔너리는 특정 컬럼이 없다면 결측치(NaN)로 입력된다.
# 원산지 값을 제외하고 새로운 컬럼을 추가해 보자.

df.loc[7] = {'메뉴': '딴짓거리', '가격': 2000, '칼로리': 20}
df.tail(3)

# 인덱스 '시즌'의 데이터(행)는 삭제하고, cafe2.csv 파일로 저장하자.
df.drop("시즌", axis=0, inplace=True)
df.to_csv('cafe2.csv', index=False)
df

      메뉴    가격  칼로리  원산지
0  아메리카노  4500   10  NaN
1   카페라떼  5000  110  NaN
2   카페모카  5500  250  NaN
3   카푸치노  5000  110  NaN
4  에스프레소  4000   20  NaN
5    밀크티  5900  210  NaN
6     녹차  5300    0  NaN


         메뉴    가격  칼로리  원산지
5       밀크티  5900  210  NaN
6        녹차  5300    0  NaN
시즌  크리스마스라떼  6000  300   한국

      메뉴    가격  칼로리   원산지
0  아메리카노  4500   10  콜롬비아
1   카페라떼  5000  110   NaN
2   카페모카  5500  250  과테말라
3   카푸치노  5000  110  과테말라
4  에스프레소  4000   20   NaN
5    밀크티  5900  210   NaN
6     녹차  5300    0   NaN
7   딴짓거리  2000   20   NaN

In [11]:
# 정렬
# 데이터를 오름차순 또는 내림차순으로 정렬할 수 있다.
# 오름차순은 작은 수에서 큰 수로 정렬되고, 내림차순은 큰 수에서 작은 수로 정렬된다.
# 우선 작업에 피룡한 데이터를 불러오자

import pandas as pd
df = pd.DataFrame({
    "메뉴" : ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격" : [4500, 5000, 5500, 5000, 4000, 5900, 5300],
    "칼로리" : [10, 110, 250, 110, 20, 210, 0],
})
df.to_csv('cafe.csv', index=False)
df = pd.read_csv('cafe.csv')

# 정렬 방법
# 인덱스 기준 : sort_index()
# 데이터 값 기준 : sort_values()
# 오름차순  : acending=True, 기본값(생략가능)
# 내림차순 : acending=False

print()
# 인덱스 기준 정렬
print(df.sort_index(ascending=False))

print()
# 데이터 값 기준 정렬
print(df.sort_values('메뉴', ascending=False))

print()
# 2개 이상의 기준 정렬
# 정렬하고자 하는 컬럼이 2개 이상일 때도 있고, 또 각 컬럼마다 오름차순/내림차순이 다를 수 있다.
# 이때는 순서에 맞게 리스트 형태로 대입한다.
# 우선 가격을 내림차순으로 먼저 정렬한 후 메뉴를 오름차순으로 정렬한다.
# 먼저 작성된 컬럼이 우선순위가 높다.
# inplace를 활용해 변경 사항을 저장했다.

df.sort_values(['가격', '메뉴'], ascending=[False, True], inplace=True)
print(df)

print()
# 인덱스 초기화
# sort_values()로 정렬된(변경된) 상태에서 인덱스를 새로 만들고 싶을 때는 reset_index()를 활용한다.
# 인덱스가 0 부터 새롭게 만들어진다.

      메뉴    가격  칼로리
6     녹차  5300    0
5    밀크티  5900  210
4  에스프레소  4000   20
3   카푸치노  5000  110
2   카페모카  5500  250
1   카페라떼  5000  110
0  아메리카노  4500   10

      메뉴    가격  칼로리
3   카푸치노  5000  110
2   카페모카  5500  250
1   카페라떼  5000  110
4  에스프레소  4000   20
0  아메리카노  4500   10
5    밀크티  5900  210
6     녹차  5300    0

      메뉴    가격  칼로리
5    밀크티  5900  210
2   카페모카  5500  250
6     녹차  5300    0
1   카페라떼  5000  110
3   카푸치노  5000  110
0  아메리카노  4500   10
4  에스프레소  4000   20

In [28]:
# 필터링

import pandas as pd
df = pd.DataFrame({
    "메뉴" : ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격" : [4500, 5000, 5500, 5000, 4000, 5900, 5300],
    "칼로리" : [10, 110, 250, 110, 20, 210, 0],
})

df.to_csv('cafe2.csv', index=False)
df = pd.read_csv('cafe2.csv')
df.head(2)

print()
# 1개 조건 필터링
# 특정 컬럼에 조건식(<,>,==, != 등) 을 적용하면 True/False가 반환된다.
# 불리안(Boolean) 자료형이다.
# 각 행에 대해 True 또는 False가 반환되고, 이 결과는 '칼로리' 컬럼의 값이 50보다 작은지를 나타낸다.
print(df['칼로리'] < 50)

print()
#  불리언(Boolean) 결과를 데이터프레이므이 대괄호 안에 넣으면 True로 표시된 행들만 선택된다.
# 예를 들어, df[cond] 형태로 사용하면 '칼로리'가 50보다 작은 행들만 필터링 되어 선택된다.
# 여기서 cond는 df['칼로리'] < 50 의 결과를 저장한 변수다.

cond = df['칼로리'] < 50
print(df[cond])

print()
# 물론 df[df['칼로리'] < 50]와 같이 변수 없이 한 줄로 사용해도 같은 결과를 얻을 수 있다.

print(df[df['칼로리']< 50])

print()
# NOT 연산자
# '~' 연산자는 조건의 반대를 필터링 하는데 사용한다.
cond = df['칼로리'] < 50
df[~cond]

print()
# 복수 조건 필터링
# 조건이 2개 이싱일 때는 합집합(OR)이거나 교집합(AND) 인지를 구분해야 한다.
# 판다스에서 & 와 | 연산자는 데이터프레임을 필터링하는 데 사용한다.
# 파이썬 조건문에서는 and와 or 연산자를 사용하고, 판다스 데이터프레임을 필터링할 때는 &와 | 연산자를 사용한다.
# 시험에서는 판다스로 데이터를 다루는 일이 많으므로 &와 | 연산자를 머릿속에 기억해 두자.
# 참고로 파이썬에서도 &와 | 연산자를 사용한다.
# 다만 비트(0과 1) 연산을 수행하고, 시험에서는 사용하지 않는다.
# 파이썬 조건문 if 조건1 and 조건2 , if 조건1 or 조건2
# 판다스 df[조건1 & 조건2], df[조건1 | 조건2]

cond1 = df['가격'] >= 5000
cond2 = df['칼로리'] > 100
print(df[cond1 & cond2])
print()
print(df[cond1 | cond2])

# '원산지' 컬럼에서 '과테말라' 데이터만 필터링해 보자.
# 만약 조건식에서 '='과 '=='가 동시에 있어 어색하다면 cond = (조건)과 같이 소괄호로 묶어주면 된다.

print()
# cond = (df['원산지']=='과테말라')
# print(df[cond])

print()
# isin()은 주어진 값이 있는지 확인한다.
# 데이터프레임이나 시리즈의 값 중에 포함되어 있는지를 체크해 포함되어 있으면 True
# 그렇지 않으면 False를 반환한다.
# isin()을 사용해 녹차를 찾아보자.
df['메뉴'].isin(['녹차'])

print()
# isin()의 결과는 True/False다. 앞서 사용한 조건식과 결과가 같다.
# 데이터 프레임에 불리언 (True/False)을 대입하면 녹차데이터(행)만 찾을 수 있다.
cond = df['메뉴'].isin(['녹차'])
print(df[cond])

print()
box = ['녹차', '카푸치노', '카페라떼']
cond = df['메뉴'].isin(box)
print(df[cond])

print()
# isin()을 사용할 떄 유용한 점은 여러개의 값을 한번에 찾을 수 있다는 것이다.
# 예를 들어, 100개의 값을 조건식으로 찾는다면 최대 100개의 조건식이 필요하다.
# 하지만 isin()을 활용할 경우 한번에 찾을 수 있다.
# 리스트에 찾는 값을 담고, 그 리스트를 isin()의 괄호 안에 작성하면 녹차, 카푸치노, 카페라떼가 포함된 행 데이터를 찾을 수 있다.

box = ['녹차', '카푸치노', '카페라떼']
cond = df['메뉴'].isin(box)
print(df[cond])
# isin()은 주어진 값과의 완전한 일치를 검사한다.
# 따라서 '카페라떼'는 찾을 수 있지만, '라떼'는 찾을 수 없다.
# 문자열 안에 특정 문자열(예: 라떼)이 포함되었는지 알고 싶다면 문자열을 다루는 섹션에서
# 그 방법을 배워보자.

0     True
1    False
2    False
3    False
4     True
5    False
6     True
Name: 칼로리, dtype: bool

      메뉴    가격  칼로리
0  아메리카노  4500   10
4  에스프레소  4000   20
6     녹차  5300    0

      메뉴    가격  칼로리
0  아메리카노  4500   10
4  에스프레소  4000   20
6     녹차  5300    0


     메뉴    가격  칼로리
1  카페라떼  5000  110
2  카페모카  5500  250
3  카푸치노  5000  110
5   밀크티  5900  210

     메뉴    가격  칼로리
1  카페라떼  5000  110
2  카페모카  5500  250
3  카푸치노  5000  110
5   밀크티  5900  210
6    녹차  5300    0



   메뉴    가격  칼로리
6  녹차  5300    0

     메뉴    가격  칼로리
1  카페라떼  5000  110
3  카푸치노  5000  110
6    녹차  5300    0

     메뉴    가격  칼로리
1  카페라떼  5000  110
3  카푸치노  5000  110
6    녹차  5300    0

In [ ]:
# 결측치 처리

In [ ]:
# 값 변경

In [ ]:
# 문자열

In [ ]:
# 내장 함수

In [119]:
# 그룹핑

In [120]:
# 시계열 데이터 (dataframe)

In [121]:
# 시계열 데이터 (Timedelta)

In [122]:
# 데이터프레임 합치기

In [123]:
# 피벗테이블

In [124]:
# 확인문제

# PART-1-CHAPTER-03 | 작업형1 연습문제

In [125]:
# 필터링, 최솟값, 중앙값

In [126]:
# 카테고리, 인덱스, 문자열 슬라이싱

In [127]:
# 파생변수, 정렬, 인덱싱

In [128]:
# 값 변경, 정렬, 합계

In [129]:
# 문자열 슬라이싱, 파생변수, 평균값

In [130]:
# 필터링, 분산

In [131]:
# 값 변경(연산), 필터링 절댓값

In [132]:
# 시계열 데이터, 필터링, 데이터 개수

In [133]:
# 필터링, 카테고리, 최빈값

In [134]:
# 그룹핑, 최댓값, 정렬

In [135]:
# 슬라이싱, 사분위수, 결측치 제거

In [136]:
# 결측치 처리, 최빈값, 데이터 개수

In [137]:
# 결측 데이터 찾기, 필터링, 평균값

In [138]:
# 중복 데이터 제거, 값 변경, 필터링

In [139]:
# 이상치, IQR

In [140]:
# 이상치, 소수점 있는 데이터 찾기, 표준 편차

In [141]:
# 데이터(행) 기준 평균값, 인덱싱

In [142]:
# 결측치(뒤의 값으로 대체), 그룹합

In [143]:
# 시계열 데이터, 월별 집계, 인덱스

In [144]:
# 시간 간의 차이 계산(분), 필터링

In [145]:
# 시간 간의 차이 계산(분), 그룹핑

In [146]:
# 시간 간의 차이 계산(분), 비율

In [147]:
# 그룹핑, 값 찾기, 필터링

In [148]:
# 시간 간의 차이 계산(일)

In [149]:
# 날짜와 시간 정보 변환, 비율

In [150]:
# 시간 범위, 속도(km/h)

In [151]:
# 날짜와 시간, 문자열

In [152]:
# 함수, 월별 집계

In [153]:
# 주말, 평일 구분

In [154]:
# 문자열, 형 변환

In [155]:
# 합계(열 방향), 상위 값 선택

In [156]:
# 데이터프레임 재구조화

In [157]:
# 데이터 합치기 (concat)

In [158]:
# 데이터 합치기 (merge)

In [159]:
# 조건별 변환 (transform)

In [160]:
# 재구조화 (unstack),맵핑

In [161]:
# 피벗테이블

In [162]:
# 재구조화 (melt), 그룹핑

#PART-2-CHAPTER-01 | 머신러닝 기초

In [163]:
# 지도 학습, 비지도 학습, 강화 학습

In [164]:
# 분류와 회귀

In [165]:
# 정형 데이터

In [166]:
# 머신러닝 프로세스

# PART-2-CHAPTER-02 | 머신러닝 실습(분류)

In [167]:
# 문제 정의

In [168]:
# 라이브러리 및 데이터 불러오기

In [169]:
# 탐색적 데이터 분석 (EDA)

In [170]:
# 데이터 전처리

In [171]:
# 검증 데이터 나누기

In [172]:
# 머신러닝 학습 및 평가

In [173]:
# 예측 및 결과 파일 생성

# PART-2-CHAPTER-03 | 머신러닝 평가지표

In [174]:
# 이진 분류 평가지표

In [175]:
# 다중 분류 평가지표

In [176]:
# 회귀 평가지표

# PART-2-CHAPTER-04 | 머신러닝 실습(회귀)

In [177]:
# 문제 정의

In [178]:
# 라이브러리 및 데이터 불러오기

In [179]:
# 탐색적 데이터 분석 (EDA)

In [180]:
# 데이터 전처리

In [181]:
# 검증 데이터 나누기

In [182]:
# 머신러닝 학습 및 평가

In [183]:
# 예측 및 결과 파일 생성

# PART-2-CHAPTER-05 | 머신러닝 실습(다중 분류)

In [184]:
# 문제 정의

In [185]:
# 라이브러리 및 데이터 불러오기

In [186]:
# 탐색적 데이터 분석 (EDA)

In [187]:
# 데이터 전처리

In [188]:
# 검증 데이터 나누기

In [189]:
# 머신러닝 학습 및 평가

In [190]:
# 예측 및 결과 파일 생성

# PART-2-CHAPTER-06 | 이진 분류 연습문제

In [191]:
# 환자의 당뇨병 여부 예측

In [192]:
# 이직 여부 예측

In [193]:
# 신용카드 신청자의 미래 신용 예측

# PART-2-CHAPTER-07 | 다중 분류 연습문제

In [194]:
# 신용 등급 예측

In [195]:
# 약물 종류 예측

In [196]:
# 유리 종류 예측

# PART-2-CHAPTER-08 | 회귀 연습문제

In [197]:
# 항공권 가격 예측

In [198]:
# 노트북 가격 예측

In [199]:
# 중고차 가격 예측

# PART-3-CHAPTER-01 | 가설 검정

In [200]:
# 가설검정의 이해

In [201]:
# 단일 표본 검정

In [202]:
# 대응 표본 검정

In [203]:
# 독립 표본 검정

# PART-3-CHAPTER-02  | 분산 분석

In [204]:
# 일원 분산 분석

In [205]:
# 이원 분산 분석

# PART-3-CHAPTER-03  | 카이제곱 검정

In [206]:
# 적합도 검정

In [207]:
# 독립성 검정

In [208]:
# 동질성 검정

# PART-3-CHAPTER-04  | 회귀 분석

In [209]:
# 상관 계수

In [210]:
# 단순 선형 회귀 분석

In [211]:
# 다중 선형 회귀 분석

In [212]:
# 범주형 변수

# PART-3-CHAPTER-05  | 로지스틱 회귀 분석

In [213]:
# 로지스틱 회귀 분석

In [214]:
# 오즈와 오즈비

# PART-3-CHAPTER-06 | 작업형3 연습 문제

In [215]:
# 단일 표본 검정

In [216]:
# 독립 표본 검정

In [217]:
# 대응 표본 검정

In [218]:
# 일원 분산 분석

In [219]:
# 이원 분산 분석

In [220]:
# 적합도 검정

In [221]:
# 독립성 검정

In [222]:
# 다중 선형 회귀

In [223]:
# 로지스틱 회귀

# 기출 및 연습문제