<a href="https://colab.research.google.com/github/cpu-once/NationalScienceandTechnologyBigDataAnalysis/blob/main/bigdataExamAndADP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PART-1-CHAPTER-01 | 파이썬

In [ ]:
### 출력
# 문자 출력
print("안녕! 시나공")

# 숫자 출력
print(2024)

#자동  출력
"길벗은"
"여러분의 합격을 응원합니다."

안녕! 시나공
2024

'여러분의 합격을 응원합니다.'

In [ ]:
# 주석
#한 줄 주석처리
print("파이썬")
# print("파이썬은 쉽다")

# 여러 줄 주석처리
# print("이 책의 저자 김태헌입니다.")
print("여러분의 합격을 가장 빠른 길로 안내할게요!")
# print("믿고 따라와주세요!")

파이썬
여러분의 합격을 가장 빠른 길로 안내할게요!

In [ ]:
# 산술 연산자
#사칙 연산
print(1+2, 4-1, 2*3, 16/3)

# 나누기 결과
15/3

# 몫 연산자
16//3

# 나머지 연산자
16%3

#거듭 제곱
4**2

#제곱근 16**0.5
16**0.5

# 산술 연산자 우선순위
4+3*2

# ** > (*, /. //, %) > (+, -)

# 문자끼리 더하기
"py" + "thon"

# 문자와 숫자 더하기
"py" + 3

3 3 6 5.333333333333333

TypeError: can only concatenate str (not "int") to str

In [ ]:
# 자료형
# 정수형
type(1)

# 실수형
type(1.1)

# 문자열
type('helllo')

# 숫자로 된 문자
type('3')

# 같지만 다른 숫자
type(3),type(3.0), type('3')

# 참과 거짓
type(True), type(False)

# 참은 1, 거짓은 0
True + True + True + False + False

3

In [ ]:
# 변수
# 예약어
# False, assert, def, for, is , raise, None, async, del, from, lambda, return, True, await, elif
# global, nonlocal, try, __peg_parser__, break, else, if, not, while, and, class, except, import,
# or, with, as, continue, finally, in, pass, yield
# 예약어를 가까운 거리의 단어 순서대로 그룹핑한다면?

# 변수에 값 대입
americano = 4500

# 변수 출력
print(americano) # 변수 출력
print('americano') #문자 출력

# 변수 연산
latte = 5000
print(americano + latte)

# 결괏값 변수에 대입
result = americano + latte
print(result)

# 변수 업데이트
americano = 4500
americano = americano - 1000
print(americano)

# 다중 변수 할당
a, b, c = 10, 20, 30
print(a)
print(b)
print(c)
print(a+b+c)

In [ ]:
# 자료형 변환
# 임시적 자료형 변환 (implicit)
a = 2
b = 0.17
a = a + b
type(a)

# 명시적 자료형 변환 (explicit)
box = 2.17
print("문자열: ", str(box))
print("정수형: ", int(box))

#자료형 변환
box = "3.14"
box = float(box) + 10
box

In [ ]:
# 비교 연산자
# 참 조건
10 > 5

# 거짓 조건
10 < 5

# 크거나(작거나) 같다
10 >= 5

# 두 값이 같다
10 == 10

# 두 값이 다르다
10 != 5

# 변수 값 비교
a = 10
b = 10
a == b

# 참 조건
a >= b

# 거짓 조건
a > b

# 문자 비교
c = "빅데이터"
d = "빅데이터"
e = "데이터"

# 주소비교가 아니라 값 비교
print(c == d)
print(d == e)

In [ ]:
# 조건문

점수=87

if 점수 >= 90:
  print("A")
elif 점수 >= 80:
  print("B")
elif 점수 >= 70:
  print("C")
else:
  print("D")

# 조건문 (참)
if True:
  print("실행")

# 조건문 (거짓)
if False:
  print("무시")

# 비교 연산자
score = 10
if score >= 10:
  print("10보다 크거나 같다")

if score > 9:
  print("9 보다 크다")

if score <= 10:
  print("10보다 작거나 같다")

if score < 11:
  print("11 보다 작다")

if score == 10:
  print("score는 10이다")

if score != 11:
  print("score는 11과 같지 않다")

# 논리 연산자
# True and True = True
# True and False = False
# False and False = False
# True or True = True
# True or False = True
# False or Flalse = False

print("True and True: ", True and True)
print("True and False: ", True and False)
print("False and False: ", False and False)
print("True or True: ", True or True)
print("True or False: ", True or False)
print("False or False: ", False or False)

# else
if score < 10 and score >=5:
  print("score는 5이상, 10 미만입니다.")
else:
  print("scpre는 5 미만, 10 이상입니다.")

# elif
socre = 7

if score > 10:
  print("A")
elif score < 10 and score >= 5:
  print("B")
else:
  print("C")

# 조건문의 구성
score = 2

if score >= 10:
  print("score는 10 이상입니다.")
elif score < 10 and score >=5:
  print("scpre는 5 이상 10 미만입니다.")
elif score < 4 and score >=3:
  print("score는 2 이하입니다.")
else:
  print("score는 2 이하입니다.")

B
실행
10보다 크거나 같다
9 보다 크다
10보다 작거나 같다
11 보다 작다
score는 10이다
score는 11과 같지 않다
True and True:  True
True and False:  False
False and False:  False
True or True:  True
True or False:  True
False or False:  False
scpre는 5 미만, 10 이상입니다.
C
score는 2 이하입니다.

In [ ]:
# 리스트
# 리스트 생성
# 인덱스는 0 부터 시작
listbox = [4, 2, 10, 6, 8]
print(listbox)

# 리스트의 첫 번째 값
print(listbox[0])

# 리스트 자료형 확인
print(type(listbox))

# 리스트 생성(문자) - 작은따옴표 혹은 큰 따옴표
listbox = ["길벗", "시나공", "빅데이터"]
print(listbox)

# 리스트 값 추가
listbox.append("분석")
print(listbox)

# 리스트 정렬
listbox = [4, 2, 10, 6, 8]
listbox_sorted = sorted(listbox)
listbox_sorted

# 내림차순 정렬
sorted(listbox, reverse=True)

# 문자가 있는 리스트 자료형도 정렬 가능. , 단 문자와 숫자가 섞여 있다면 정렬할 수 없음

[4, 2, 10, 6, 8]
4
<class 'list'>
['길벗', '시나공', '빅데이터']
['길벗', '시나공', '빅데이터', '분석']

[10, 8, 6, 4, 2]

In [ ]:
# 딕셔너리

# 딕셔너리 생성
dictbox = {'name' : '쿼카', 'level' : 5}

# 딕셔너리 자료형
print(type(dictbox))

# 딕셔너리 값 출력
print(dictbox['name'])
print(dictbox['level'])

# 딕셔너리 값 변경
dictbox['level'] = 6
print(dictbox['level'])

# 딕셔너리 키
print(dictbox.keys())

# 딕셔너리 값
print(dictbox.values())

# 딕셔너리 키와 값
print(dictbox.items())

# 딕셔너리를 리스트로 변환
print(list(dictbox.values()))

# 딕셔너리 생성(변수)
a = '합격맛집'
b = '길벗'
c = '출판사'

dictbox = {'name': a, c:b}
print(dictbox)

# 딕셔너리 생성(리스트)
listbox1 = ['딴짓분식', '딴짓카페', '딴짓피자']
listbox2 = [4.8, 4.9, 5.0]

dictbox = {'가게' : listbox1, '평점' : listbox2}
print(dictbox)

<class 'dict'>
쿼카
5
6
dict_keys(['name', 'level'])
dict_values(['쿼카', 6])
dict_items([('name', '쿼카'), ('level', 6)])
['쿼카', 6]
{'name': '합격맛집', '출판사': '길벗'}
{'가게': ['딴짓분식', '딴짓카페', '딴짓피자'], '평점': [4.8, 4.9, 5.0]}

In [ ]:
# 인덱싱과 슬라이싱

# 인덱싱
listbox = [2, 4, 6 ,8, 10]
print(listbox[0]) # index 0, 첫 번째 값
print(listbox[1]) # index 3, 네 번째 값
print(listbox[-1])

# 슬라이싱
print(listbox[0:3])
print(listbox[1:3])
print(listbox[3:])
print(listbox[:3])
print(listbox[::2])

# 값 변경(슬라이싱 활용)
listbox[1:3] = [ 10,20 ]
print(listbox)

2
4
10
[2, 4, 6]
[4, 6]
[8, 10]
[2, 4, 6]
[2, 6, 10]
[2, 10, 20, 8, 10]

In [ ]:
# 내장 함수
listbox = [4,2,10,6,8]
sum(listbox)

#  합계
boolbox = [True, False, False]
print(sum(boolbox))

# 최댓값
print(max(listbox))

# 최솟값
print(min(listbox))

# 항목의 개수
print(len(listbox))

# 반올림
print(round(1.2345, 2))
print(round(1.2375, 2))

1
10
2
5
1.23
1.24

In [ ]:
# 문자열
# 문자 변경
text = "빅데이터 분석기사 파이썬 공부"
text = text.replace("공부", "스터디")
print(text)

text = "빅데이터 분석기사 파이썬 공부"
text = text.replace("파이썬","머신러닝").replace("분석기사","분석을 위한")
print(text)

# 문자열 슬라이싱 (앞인덱스 포함, 뒤 인덱스 미포함, [) 규칙, 인덱스 시작 0 부터)
text = "안녕하세요! 함께 성장해요."
print(text[:2])
print(text[7:9])
date = "2022-12-25"
print(date[5:])

# 문자열 분리
print(date.split('-'))
print(text.split()) # splite 인자 안주면, 스페이스바를 delimiter
print(list(date)) # 문자열을 list로 자료형 번환을 하면 한 글자씩 순서대로 값으로 가진 리스트가 된다.

빅데이터 분석기사 파이썬 스터디
빅데이터 분석을 위한 머신러닝 공부
안녕
함께
12-25
['2022', '12', '25']
['안녕하세요!', '함께', '성장해요.']
['2', '0', '2', '2', '-', '1', '2', '-', '2', '5']

In [20]:
# 반복문
listbox = [2, 4, 6, 8, 10]
for item in listbox:
  print(item)

print()

# for 문 코드 범위
listbox = [2, 4, 6, 8, 10]
for item in listbox:
  print(item)
print("끝")

print()

listbox = [2, 4, 6, 8, 10]
for item in listbox:
  result = item + 1
  print(result)

print()

# range() 활용
for item in range(5):
  print(item)

print()

for i in range(5,10):
  print(i)

print()

#list.append()
listbox = []
for i in range(1,6):
  listbox.append(i)
print(listbox)

#enumerate()
listbox = ['길벗', '시나공', '빅분기', '분석']
for index, item in enumerate(listbox):
  print(index, item)

#zip()
person_info = {
    'name' : '사랑',
    'age' : 20,
    'city' : '부산',
    'hobbies' : ['연애', '수영', '코딩']
}
for k, v in zip(person_info.keys(), person_info.values()):
  print(k,v)

2
4
6
8
10

2
4
6
8
10
끝

3
5
7
9
11

0
1
2
3
4

5
6
7
8
9

[1, 2, 3, 4, 5]
0 길벗
1 시나공
2 빅분기
3 분석
name 사랑
age 20
city 부산
hobbies ['연애', '수영', '코딩']

In [26]:
# 함수
# 일반함수
def hello(): #함수 정의
  print("안녕하세요!")

hello() # 함수 호출
hello() # 함수 호출
hello() # 함수 호출

# 매개변수가 있는 함수
def hello(name):
  print("hello"+ name)

hello("빅분기")

# 2개의 매개변수를 받아 이를 더하는 함수
def plus(x, y):
  print(x+y)

  a = 2
  b = 3
  plus(a,b)

# 변환 값이 있는 함수
def plus(x,y):
  result = x+y
  return result

a = plus(2,3)
print(a)

안녕하세요!
안녕하세요!
안녕하세요!
hello빅분기
5

In [3]:
# 확인문제
listbox = ["감사", "행복", "사랑", "성공", "긍정", "변화", "성장", "희망"]
# 1. 리스트에 있는 값의 수를 출력하시오.
print(len(listbox))
# 2. 리스트의 첫 번째 값을 출력하시오.
print(listbox[0])
# 3. 리스트의 마지막 값을 출력하시오.
print(listbox[-1])
# 4. 리스트에서 처음부터 세번쨰 값 까지를 출력하시오
print(listbox[:3])
# 5. 리스트에서 마지막 앞 단어를 출력하시오
print(listbox[-2])
# 6. 리스트 값 중 '행복'과 '사랑'만 출력하시오
print(listbox[1:3])
# 7. 리스트 값 중 '변화' -> '웃음'으로 변경하시오
print(listbox[5])
listbox[5] = '웃음'
print(listbox[5])

print()
# 8. cols 변수는 컬럼명을 담고 있다. cols 리스트에 있는 name, age, phone 컬럼명을 반복문을 통해 출력하시오
cols = ['name', 'age', 'phone']
for col in cols:
  print(col)

print()
# 9. 리스트에서 최댓값에서 최솟값으 뺸 결과를 리턴(반환)하는 함수를 만들고 실행하시오.
listminmax = [1,2,3,4,5,6,7,9]
def minmax(list):
  return max(list) - min(list)

print(minmax(listminmax))

print()
# 10. 문자열에서 "여러분"을 "당신"으로 변경한 결과를 리턴하는 함수를 만들고 실행하시오.
str_data="여러분의 합격을 응원합니다!"

def replaceEveryoneToYou(someString):
  return print(someString.replace("여러분", "당신"))

replaceEveryoneToYou(str_data)

8
감사
희망
['감사', '행복', '사랑']
성장
['행복', '사랑']
변화
웃음

name
age
phone

8

당신의 합격을 응원합니다!

# PART-1-CHAPTER-02 | 판다스

In [47]:
# 데이터프레임과 시리즈
# 판다스의 데이터는 시리즈(Series)와 데이터프레임(DataFrame)으로 구성되어 있다.
# 시리즈는 1차원 형태, 데이터프레임은 행(rows)과 열(columns)이 있는 2차원(표) 형태

# 행과 열
# 행은 각 데이터/레코드(가로)고, 열은 컬럼 전체(세로)다.
# 판다스에서 축(axis)을 숫자로 나타낼 때는 행은 0, 열은 1로 표시하므로 숫자 순서대로 행(0)렬(1)로 기억하면 좋다.

# 판다스의 별칭
# 판다스 라이브러리를 불러오자 import pandas 뒤에 as pd가 붙은 것을 확인 할 수 있다.
# 앞으로 pandas는 pd라는 별칭(alias, 줄여서 as로 사용)으로 사용하기 위함이다.
import pandas as pd

# 시리즈(Series)
# 시리즈는 pd.Series(데이터)로 만들 수 있다.
# 시리즈의 괄호 안 데이터는 리스트를 활용해 만들 수 있다.
# 출력 해보면 인덱스와 값이 출력되고, 자료형은 'object'다.
# 판다스에서 object형은 주로 문자열 데이터를 나타내는 데 사용된다.

menu = pd.Series(['비빔밥', '김치찌개', '된장찌개'])
print(menu)

print()
# 숫자를 리스트 형태로 만들고, 이를 pd.Series()로 감싸게 되면 시리즈로 변경된다.
# 이 시리즈 값의 자료형(타입)은 int다.
# 판다스는 리스트에 포함된 데이터 타입을 기반으로 시리즈의 데이터 타입을 자동으로 결정한다.

price = pd.Series([10000, 9000, 8000])
print(price)

print()
# 데이터 프레임
# 앞서 만든 2개의 시리즈를 합쳐 데이터프레임(표 형태)으로 만들어 보자.
# 데이터 프레임은 pd.DataFrame({"컬럼명":데이터}) 로 만든다.
# 자세히 살펴보면 소괄호 안에 중괄호로 묶여 있다.
# 컬럼명의 "메뉴"는 문자(따옴표 있음) 그 자체고, 데이터의 menu는 변수명(따옴표 없음)이다.

df1 = pd.DataFrame({
    "메뉴" : menu,
    "가격" : price
})
print(df1)

print()
# 데이터프레임을 만들 때 시리즈를 꼭 거쳐야 하는 것은 아니다.
# 다음과 같이 데이터 프레임을 만들 수도 있다.

df2 = pd.DataFrame({
    "메뉴" : ['비빔밥', '김치찌개', '된장찌개'],
    "가격" : [10000, 9000, 8000],
    "원산지" : ['국내산', '국내산', '국내산']
})
print(df2)

print()
# 컬럼 선택
# 데이터 프레임에서 특정 컬럼만 선택해 표시할 수 있다.
# df['컬럼명'] 또는 df["컬럼명"] 으로 컬럼명을 작은 따옴표 또는 큰 따옴표로 묶어주면 된다.

print(df2['메뉴'])

print()
# 데이터프레임과 시리즈 자료형
# 데이터프레임에서 특정 컬럼 1개만 선택하면 시리즈 형태가 된다.
# 시리즈 형태가 아닌 데이터 프레임이 필요할 때가 있는데,
# 1개의 컬럼을 시리즈가 아닌 데이터프레임으로 만드는 간단한 방법은 한번 더 대괄호로 묶어주는 것이다.

print(df2[['메뉴']])

print()
# 복수의 컬럼을 선택할 때는 대괄호 2개를 사용한다. 결과는 데이터프레임 자료형이다.
print(df2[['메뉴', '가격']])

print()
# 컬럼을 1개 선택하더라도 다음과 같이 데이터프레임 자료형으로 필요할 때 대괄호 2개를 사용할 수 있다.
df3 = pd.DataFrame({
    "구분" : ["df[]", "df[[]]"],
    "반환된 자료형" : ["1개 컬럼 선택", "1개 이상의 컬럼 선택"],
    "예" : ["df['컬럼1']", "df['컬럼1'], df[['컬럼1','컬럼2']]"]
})
print(df3)

print()
# 컬럼을 복수로 선택할 때는 주로 리스트를 활용한다.
# cols 변수에 메뉴와 가격 컬럼명을 담고 df[cols] 를 실행하면
# cols 변수에 있는 컬럼이 선택되어 데이터프레임으로 출력된다.
# 대괄호가 하나처럼 보이나 df[['메뉴', '가격']]과 같음을 이해한다.
cols = ['메뉴','가격']
df2[cols]

print()
# 자료형 비교
# type() 함수로 자료형을 확인해 보자.
# df는 데이터 프레임,
# df['컬럼명']은 시리즈,
# df[['컬럼명']]은 데이터 프레임이다.

# 머신러닝(작업형2)에서 입력 데이터로 특정 컬럼을 데이터프레임으로 넣어야 할 때가 있다.
# df['컬럼명']과 같이 컬럼명을 1개만 선택하면 시리즈 형태가 된다.
# 데이터프레임으로 만들기 위해 df[['컬럼명']]으로 사용한다.
# 컬럼이 1개일 때 시리즈가 아닌 데이터프레임으로 만들기 위해 대괄호 2개가 종종 사용된다.

print("df      :", type(df2))
print("df['가격'] :", type(df2['가격']))
print("df[['가격']]:", type(df2[['가격']]))

0     비빔밥
1    김치찌개
2    된장찌개
dtype: object

0    10000
1     9000
2     8000
dtype: int64

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9000  국내산
2  된장찌개   8000  국내산

0     비빔밥
1    김치찌개
2    된장찌개
Name: 메뉴, dtype: object

     메뉴
0   비빔밥
1  김치찌개
2  된장찌개

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

       구분       반환된 자료형                             예
0    df[]      1개 컬럼 선택                     df['컬럼1']
1  df[[]]  1개 이상의 컬럼 선택  df['컬럼1'], df[['컬럼1','컬럼2']]


df      : <class 'pandas.core.frame.DataFrame'>
df['가격'] : <class 'pandas.core.series.Series'>
df[['가격']]: <class 'pandas.core.frame.DataFrame'>

In [ ]:
# 데이터 저장 및 불러오기

In [ ]:
# 자료형 변환

In [ ]:
# 새로운 컬럼 추가

In [ ]:
# 데이터 삭제

In [ ]:
# 인덱싱 / 슬라이싱 (loc)

In [ ]:
# 인덱싱 / 슬라이싱 (iloc)

In [ ]:
# 데이터 추가 / 변경

In [ ]:
# 정렬

In [ ]:
# 필터링

In [ ]:
# 결측치 처리

In [ ]:
# 값 변경

In [ ]:
# 문자열

In [ ]:
# 내장 함수

In [ ]:
# 그룹핑

In [ ]:
# 시계열 데이터 (dataframe)

In [ ]:
# 시계열 데이터 (Timedelta)

In [ ]:
# 데이터프레임 합치기

In [ ]:
# 피벗테이블

In [ ]:
# 확인문제

# PART-1-CHAPTER-03 | 작업형1 연습문제

In [ ]:
# 필터링, 최솟값, 중앙값

In [ ]:
# 카테고리, 인덱스, 문자열 슬라이싱

In [ ]:
# 파생변수, 정렬, 인덱싱

In [ ]:
# 값 변경, 정렬, 합계

In [ ]:
# 문자열 슬라이싱, 파생변수, 평균값

In [ ]:
# 필터링, 분산

In [ ]:
# 값 변경(연산), 필터링 절댓값

In [ ]:
# 시계열 데이터, 필터링, 데이터 개수

In [ ]:
# 필터링, 카테고리, 최빈값

In [ ]:
# 그룹핑, 최댓값, 정렬

In [ ]:
# 슬라이싱, 사분위수, 결측치 제거

In [ ]:
# 결측치 처리, 최빈값, 데이터 개수

In [ ]:
# 결측 데이터 찾기, 필터링, 평균값

In [ ]:
# 중복 데이터 제거, 값 변경, 필터링

In [ ]:
# 이상치, IQR

In [ ]:
# 이상치, 소수점 있는 데이터 찾기, 표준 편차

In [ ]:
# 데이터(행) 기준 평균값, 인덱싱

In [ ]:
# 결측치(뒤의 값으로 대체), 그룹합

In [ ]:
# 시계열 데이터, 월별 집계, 인덱스

In [ ]:
# 시간 간의 차이 계산(분), 필터링

In [ ]:
# 시간 간의 차이 계산(분), 그룹핑

In [ ]:
# 시간 간의 차이 계산(분), 비율

In [ ]:
# 그룹핑, 값 찾기, 필터링

In [ ]:
# 시간 간의 차이 계산(일)

In [ ]:
# 날짜와 시간 정보 변환, 비율

In [ ]:
# 시간 범위, 속도(km/h)

In [ ]:
# 날짜와 시간, 문자열

In [ ]:
# 함수, 월별 집계

In [ ]:
# 주말, 평일 구분

In [ ]:
# 문자열, 형 변환

In [ ]:
# 합계(열 방향), 상위 값 선택

In [ ]:
# 데이터프레임 재구조화

In [ ]:
# 데이터 합치기 (concat)

In [ ]:
# 데이터 합치기 (merge)

In [ ]:
# 조건별 변환 (transform)

In [ ]:
# 재구조화 (unstack),맵핑

In [ ]:
# 피벗테이블

In [ ]:
# 재구조화 (melt), 그룹핑

#PART-2-CHAPTER-01 | 머신러닝 기초

In [ ]:
# 지도 학습, 비지도 학습, 강화 학습

In [ ]:
# 분류와 회귀

In [ ]:
# 정형 데이터

In [ ]:
# 머신러닝 프로세스

# PART-2-CHAPTER-02 | 머신러닝 실습(분류)

In [ ]:
# 문제 정의

In [ ]:
# 라이브러리 및 데이터 불러오기

In [ ]:
# 탐색적 데이터 분석 (EDA)

In [ ]:
# 데이터 전처리

In [ ]:
# 검증 데이터 나누기

In [ ]:
# 머신러닝 학습 및 평가

In [ ]:
# 예측 및 결과 파일 생성

# PART-2-CHAPTER-03 | 머신러닝 평가지표

In [ ]:
# 이진 분류 평가지표

In [ ]:
# 다중 분류 평가지표

In [ ]:
# 회귀 평가지표

# PART-2-CHAPTER-04 | 머신러닝 실습(회귀)

In [ ]:
# 문제 정의

In [ ]:
# 라이브러리 및 데이터 불러오기

In [ ]:
# 탐색적 데이터 분석 (EDA)

In [ ]:
# 데이터 전처리

In [ ]:
# 검증 데이터 나누기

In [ ]:
# 머신러닝 학습 및 평가

In [ ]:
# 예측 및 결과 파일 생성

# PART-2-CHAPTER-05 | 머신러닝 실습(다중 분류)

In [ ]:
# 문제 정의

In [ ]:
# 라이브러리 및 데이터 불러오기

In [ ]:
# 탐색적 데이터 분석 (EDA)

In [ ]:
# 데이터 전처리

In [ ]:
# 검증 데이터 나누기

In [ ]:
# 머신러닝 학습 및 평가

In [ ]:
# 예측 및 결과 파일 생성

# PART-2-CHAPTER-06 | 이진 분류 연습문제

In [ ]:
# 환자의 당뇨병 여부 예측

In [ ]:
# 이직 여부 예측

In [ ]:
# 신용카드 신청자의 미래 신용 예측

# PART-2-CHAPTER-07 | 다중 분류 연습문제

In [ ]:
# 신용 등급 예측

In [ ]:
# 약물 종류 예측

In [ ]:
# 유리 종류 예측

# PART-2-CHAPTER-08 | 회귀 연습문제

In [ ]:
# 항공권 가격 예측

In [ ]:
# 노트북 가격 예측

In [ ]:
# 중고차 가격 예측

# PART-3-CHAPTER-01 | 가설 검정

In [ ]:
# 가설검정의 이해

In [ ]:
# 단일 표본 검정

In [ ]:
# 대응 표본 검정

In [ ]:
# 독립 표본 검정

# PART-3-CHAPTER-02  | 분산 분석

In [ ]:
# 일원 분산 분석

In [ ]:
# 이원 분산 분석

# PART-3-CHAPTER-03  | 카이제곱 검정

In [ ]:
# 적합도 검정

In [ ]:
# 독립성 검정

In [ ]:
# 동질성 검정

# PART-3-CHAPTER-04  | 회귀 분석

In [ ]:
# 상관 계수

In [ ]:
# 단순 선형 회귀 분석

In [ ]:
# 다중 선형 회귀 분석

In [ ]:
# 범주형 변수

# PART-3-CHAPTER-05  | 로지스틱 회귀 분석

In [ ]:
# 로지스틱 회귀 분석

In [ ]:
# 오즈와 오즈비

# PART-3-CHAPTER-06 | 작업형3 연습 문제

In [ ]:
# 단일 표본 검정

In [ ]:
# 독립 표본 검정

In [ ]:
# 대응 표본 검정

In [ ]:
# 일원 분산 분석

In [ ]:
# 이원 분산 분석

In [ ]:
# 적합도 검정

In [ ]:
# 독립성 검정

In [ ]:
# 다중 선형 회귀

In [ ]:
# 로지스틱 회귀

# 기출 및 연습문제